.vs/
**/*.VC.db
**/*.VC.VC.opendb
/build/
!/build/DropletAnalyzer.sln
!/build/TimeUtilsTests/
!/build/TimeUtilsTests/TimeUtilsTests.vcxproj
!/build/TimeUtilsTests/TimeUtilsTests.cpp
/out/
/trash/
/Prototypes/**/out/
droplet_analyzer.log

